body {
  background: black;
}

.contenedor {
	display: flex;
	justify-content: center;
	margin: 25px;
}

.wall:hover {
	border: 8px solid transparent;
	border-image: linear-gradient(to right, #0066ff 0%, #cccc00 100%);
	border-image-slice: 1;
	transition-duration: 0.8s;
}

.logo {
	margin-top: 450px;
	margin-left: 275px;
	position: absolute;
	overflow: hidden;
}

.logo img {
	transform: translateX(-1000px);
	transition: 1s;
}



.DT {
	position: absolute;
	margin-top: 20px;
	margin-left: 260px;
	overflow: hidden;
}

.DT img {
	transform: translateX(-1040px);
	transition: 1s;
}



.art {
	position: absolute;
	margin-top: 320px;
	margin-left: -370px;
	overflow: hidden;
}

.art img {
	transform: translateX(1090px);
	transition: 1s;
}


.images:hover img {
	transform: translateX(0); 
}